<h2>Your submission has been saved<h2>

<p>
  <strong>Title:</strong>
  <%= @gossip.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @gossip.text %>
</p>

<!-- For comments -->
<h2>Comments</h2>
<%= render @gossip.comments %>
<!-- For comments -->

<!-- For comments -->
<h2>Add a comment:</h2>
<%= render 'comments/form' %>
<!-- For comments -->

<%= link_to 'Edit', edit_gossip_path(@gossip) %> 
<%= link_to 'Back', welcome_index_path %>