<h1>Welcome to the Gossip Project</h1>

<%= link_to 'My Gossips', controller: 'gossips' %>

<%= link_to 'New gossip', new_gossip_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
  <% @gossips.each do |gossip| %>
    <tr>
      <td><%= gossip.title %></td>
      <td><%= gossip.text %></td>
      <td><%= link_to 'Show', gossip_path(gossip) %></td>
    </tr>
  <% end %>
</table>
